<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stealing_Bases_Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body

    
<div class="container">

    <header> 
         <a href="/" class="logo">Baseball Stats</a>

         <input type="checkbox" id="menu-bar"> 
         <label for="menu-bar">Menu</label>
      
        

         <nav class="navbar">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/stealingBase">Stealing Bases</a></li>
                <li> <a href="/Stats">Stats</a>
                    <ul>
                        <li> <a href="/pitchersWAR">Pitchers WAR</a></li>
                        <li> <a href="/batterBsR">Batters BsR</a></li>
                    </ul>
                </li>
                <li> <a href="/previousgames">Previous Games</a></li>
                <li> <a href="/contactUs">Contact us</a> 
                    <ul>
                    <li> <a href="/Mireille" >Mireille Nehme</a></li>
                    <li> <a href="/Nathalie">Nathalie Ouellette</a></li>
                    <li> <a href="/Sam">Samuel Van Noppen</a></li>
                    <li> <a href="/Wyatt">Wyatt Baldwin</a></li>
                </ul>  
                </li>
            </ul>
        </nav> 
     </header>

    <div class="container-fluid" id="main-content" style="background-color: rgb(222, 238, 241)">
        <div class="row">
            
            <div class="col-md-12" style="background-color: rgb(222, 238, 241)"> 
                <p align "center">
                    <h1> Mireille Nehme </h1>
                </p>
            </div>

            <div class="col-md-8" style="background-color: rgb(222, 238, 241)">
                <p align="left">
                
                <h4> I am a woman in science, passionate about everything related to Physics and Astronomy, trying to explain how the world around us works, and to understand the building blocks of the universe. 
                    <br> <br>
                    I obtained an M.Sc. in Astrophysics after pursuing a joint graduate program between Notre Dame University-Louaise and Université Saint-Joseph de Beirut. I hold a CAPES (teaching diploma) in teaching Physics from the Lebanese University and a B.Sc. in Physics from the Lebanese University as well.
                    <br> <br>
                    I have 10 years of experience in teaching at multiple schools' forms (co-educational and single-gender schools), and in different curriculum's language (English and French). Moreover, I have taught classes of varying ages and levels (grade 7 till 12 - undergraduate and graduate students). 
                    <br> <br>
                    I just moved to Ottawa, Canada and I have enrolled in a Business and Data Analytics Bootcamp at Carleton University in the aim if switching my career. It is an intense, fast-paced program that requires being proactive and strategic. This project is in fact the final project of this Bootcamp.
                    <br> <br> 
                    Technical Skills: Excel - VBA - GitHub - Python - Pandas - Matplotlib - SQL - SQLite - Flask - Web Scraping - Leaflet - GeoJSON - Mapping - Tableau - Statistics and R - Big Data -Hadoop - Spark - NLP - Cloud computing - AWS - Machine Learning - scikit-learn - Neural Networks - TensorFlow. 
                    <br> <br>
                    In my free time I like to go hiking, spend time in nature, or simply catch a movie on Netflix. I am really keen on travel, photography and social media. 
                    <br> <br>
                    Feel free to contact me: <a href="mailto:mir.nehme@gmail.com?subject=subject text">mir.nehme@gmail.com </a>
                
                </h4>
                <br>   <br>  

                <a href="www.linkedin.com/in/mireille-nehme" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                <a href="https://github.com/MireyNM" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>
                </p>
            </div>

            <div class="col-md-4" style="background-color: rgb(222, 238, 241)">
                <img src="../static/images/Mir.png" align="center">

        </div>

              
     
    </div>

</div>
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="/static/data/Clean_Data/next_BsR_batt.js"></script> 
<script src="/static/js/main.js"></script>  
<script src="/static/js/autocomplete.js"></script>  
<script src="/static/js/BsR.js"></script>
     

</body>

</html>