<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stealing_Bases_Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body

    
<div class="container">

    <header> 
         <a href="index.html" class="logo">Baseball Stats</a>

         <input type="checkbox" id="menu-bar"> 
         <label for="menu-bar">Menu</label>
      
        

         <nav class="navbar">
            <ul>
                <li> <a href="index.html">Home</a></li>
                <li> <a href="stealingBase.html">Stealing Bases</a></li>
                <li> <a href="#">VSR</a>
                    <ul>
                        <li> <a href="pitchersVSR.html">Pitchers VSR</a></li>
                        <li> <a href="battersVSR.html">Batters VSR</a></li>
                    </ul>
                </li>
                <li> <a href="previousgames.html">Previous Games</a></li>
                <li> <a href="#">Contact us</a> 
                    <ul>
                    <li> <a href="contactMir.html" >Mireille Nehme</a></li>
                    <li> <a href="contactNat.html">Nathalie Ouellette</a></li>
                    <li> <a href="contactSam.html">Samuel Van Noppen</a></li>
                    <li> <a href="contactWyat.html">Wyatt Baldwin</a></li>
                </ul>  
                </li>
            </ul>
        </nav> 
     </header>

    <div class="container-fluid" id="main-content" style="background-color: rgb(222, 238, 241)">
        <div class="row">
            
            <div class="col-md-12" style="background-color: rgb(222, 238, 241)"> 
                <p align "center">
                    <h1> Wyatt Baldwin </h1>
                </p>
            </div>

            <div class="col-md-8" style="background-color: rgb(222, 238, 241)">
                <p align="left">
                
                <h4>
                    Wyatt Baldwin is a results-driven professional with a passion for using data to drive business decisions. With experience in both sales and data analysis, Wyatt brings a unique perspective to any organization.
                    <br> <br> 
                    At PepsiCo, Wyatt honed his skills in sales, consistently meeting and exceeding performance targets. He also gained valuable experience in using data to inform strategies and identify areas for improvement.
                    <br> <br> 
                    Wyatt has also had the opportunity to work with Elections Canada where he has gained experience in data analysis and SAP. This experience has allowed him to develop a strong understanding of how data can be used to drive decision making and improve organizational performance.
                    <br> <br> 
                    In his current role, Wyatt is committed to continuous learning and staying up to date with the latest trends and technologies in data analysis. He is excited about the opportunity to bring his skills and experience to a new organization and make a positive impact.

                    
                
                </h4>
                <br>   <br>  

                <a href="www.linkedin.com/in/wyattbaldwin" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                <a href="https://github.com/wyattbaldwin" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>                            </p>
             </div>             
                </p>
            </div>

            <div class="col-md-4" style="background-color: rgb(222, 238, 241)">
                <img src="../static/images/Wyat.png" align="center">

        </div>

              
     
    </div>

</div>
      

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="../Data/Clean_Data/next_war.js"></script> 
    <script src="../static/js/main.js"></script>  
     

</body>

</html>