<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stealing_Bases_Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body

    
<div class="container">

    <header> 
         <a href="/" class="logo">Baseball Stats</a>

         <input type="checkbox" id="menu-bar"> 
         <label for="menu-bar">Menu</label>
      
        

         <nav class="navbar">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/stealingBase">Stealing Bases</a></li>
                <li> <a href="/Stats">Stats</a>
                    <ul>
                        <li> <a href="/pitchersWAR">Pitchers WAR</a></li>
                        <li> <a href="/batterBsR">Batters BsR</a></li>
                    </ul>
                </li>
                <li> <a href="/previousgames">Previous Games</a></li>
                <li> <a href="/contactUs">Contact us</a> 
                    <ul>
                    <li> <a href="/Mireille" >Mireille Nehme</a></li>
                    <li> <a href="/Nathalie">Nathalie Ouellette</a></li>
                    <li> <a href="/Sam">Samuel Van Noppen</a></li>
                    <li> <a href="/Wyatt">Wyatt Baldwin</a></li>
                </ul>  
                </li>
            </ul>
        </nav> 
     </header>

    <div class="container-fluid" id="main-content" style="background-color: rgb(222, 238, 241)">
        <div class="row">
            
            <div class="col-md-12" style="background-color: rgb(222, 238, 241)"> 
                <p align "center">
                    <h1> Nathalie Ouellette </h1>
                </p>
            </div>

            <div class="col-md-5" style="background-color: rgb(222, 238, 241)">
                <p align="left">
                
                <h4> 

                    Interest work related: 
                    <br> <br>
                    Studies: I have recently graduated from environmental science with a minor in geography from Carleton University. During my undergraduate studies, I have performed experiments in marshes, lakeshores, and dunes. 
                    <br> <br>
                    work experience:
                    <br> <br>
                    interest:
                
                </h4>
                <br>   <br>  

                <a href="https://www.linkedin.com/in/nathalie-ouellette-370717141/" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="nathalie ouellette" height="30" width="40" /></a>
                    <a href="https://github.com/nathalieouellette" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>
                </p>
            </div>

            <div class="col-md-4" style="background-color: rgb(222, 238, 241)">
                <img src="../static/images/Nat.JPG" align="center">
            </div>
            <br> <br>
        </div>

    </div>

</div>
      

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<script src="/static/data/Clean_Data/next_BsR_batt.js"></script> 
<script src="/static/js/main.js"></script>  
<script src="/static/js/autocomplete.js"></script>  
<script src="/static/js/bsr.js"></script>
     

</body>

</html>