<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stealing_Bases_Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">Stealing Bases</div>
        <a href="http://127.0.0.1:5000/" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="http://127.0.0.1:5000/">Offensive</a></li>
                <li><a href="http://127.0.0.1:5000/result">Defensive</a></li>
                <li><a href="http://127.0.0.1:5000/">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
            </div>
        </div>

        <div class="col-md-12 subtitletron "> 
            <h2> Choose pitcher name and batter name in order to get baseball predictions.</h2>
            <br>   <br>  
          </div>


    <div class="container-fluid">
        <div class="row">

         <!-- Main Input For Receiving Query to our ML -->
            <div class="col-md-3">
                <form class="bg-dark">
                    <p>Baseball senario</p>

                    <ul class="bg-dark">
                        <li class="bg-dark">
                            <label for="catcher">Enter Catcher</label>
                            <input type="text" name=" " class="filter" placeholder="Matt Thaiss" id="catcher"/>
                        </li>
                        </br>

                        <li class="bg-dark">
                            <label for="pitcher">Enter Runner</label>
                            <input type="text" class="filter" placeholder="Justin Varlander" id="pitcher"/>
                        </li>
                        </br>

                        <li class="bg-dark">
                            <label for="runner">Enter Pitcher Name</label>
                            <input type="text" class="filter" placeholder="CJ Abrams" id="runner"/>
                        </li>
                        </br>
                            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Pitcher WAR</button>
                         </br>
                            {{predicted_value}}

                         </br>
                         </br>
                        <li class="bg-dark">
                            <label for="runner">Enter Batter Name</label>
                            <input type="text" class="filter" placeholder="Alfredo Amezaga" id="batter"/>
                        </li>
                        </br>
                        </br>  
                            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Batter WAR</button>
                        <br>
                            {{predicted_value}}
                        </br>
                        </br> 
                        </br>
                        </br> 
                    </ul>
                   
                </form>
            </div>

            <div class="col-md-4">
                We can put some visualizations

            </div>
        </div>


        <div class="container-fluid">
            <div class="row equal-cols">
                <div class="col-md-7" style="background-color: rgb(146, 203, 212)">
                    <h3>Choose a game location and year to find its Data</h3>
                </div>
                

             <div class="col-md-3" style="background-color: rgb(146, 203, 212)">
                    <input type="text" class="filter" placeholder="NYY" id="city"/>
             </div>

            

             <div class="col-md-3" style="background-color: rgb(146, 203, 212)">
                <input type="integer" class="filter" placeholder="2012" id="year"/>
            </div>
            </div>
                
           

             </br>
             </br> 
             </br>
             </br>            

        </div>

        <div class="container-fluid">
            <h2 align="left">Connect with contributors:</h2>
            
            <div class="row">

              <div class="col-md-3" style="background-color: rgb(163, 221, 233)">
                 <p align="left">
                 <h3> Mireille Nehme </h3>
                 <a href="https://linkedin.com/in/mireille nehme" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                 <a href="https://github.com/MireyNM" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>
                 </p>
               </div>
        

             <div class="col-md-3" style="background-color: rgb(122, 195, 210)">  
                <p align="left">
                    <h3> Nathalie Ouellette </h3>
                    <a href="https://linkedin.com/in/mireille nehme" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                    <a href="https://github.com/nathalieouellette" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>
                    </p>
             </div>

             <div class="col-md-3" style="background-color: rgb(89, 170, 186)"> 
                <p align="left">
                    <h3> Samuel Van Noppen </h3>
                    <a href="https://linkedin.com/in/mireille nehme" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                    <a href="https://github.com/samuelvannoppen" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>
                    </p>
             </div>
                    
             <div class="col-md-3" style="background-color: rgb(81, 138, 148)"> 
               <p align="left">
                  <h3> Wyatt Baldwin</h3>
                    <a href="https://linkedin.com/in/mireille nehme" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="mireille nehme" height="30" width="40" /></a>
                    <a href="https://github.com/wyattbaldwin" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="mirey nehme" height="30" width="40" /></a>                            </p>
             </div>
            </br>
        </br> 
        </br>
        </br>  

        </div>

        

    
    
           

            

     </div>


    </div>
    <div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>  
    <script src="../static/js/main.js"></script>
</body>

</html>