<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stealing_Bases_Project</title>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
        />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body class="bg-dark">
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="index.html">UFO Sightings</a>
        </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-5">Stealing Bases</h1>
        <p>Input the players to find out whether the runner was able to sucessfully steal the base</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <form class="bg-dark">
                    <p>Baseball senario</p>
                    <ul class="bg-dark">
                        <li class="bg-dark">
                            <label for="catcher">Enter Catcher</label>
                            <input type="text" class="filter" placeholder="Matt Thaiss" id="catcher"/>
                        </li>
                        <li class="bg-dark">
                            <label for="pitcher">Enter Pitcher</label>
                            <input type="text" class="filter" placeholder="Justin Varlander" id="pitcher"/>
                        </li>
                        <li class="bg-dark">
                            <label for="runner">Enter Runner</label>
                            <input type="text" class="filter" placeholder="CJ Abrams" id="runner"/>
                        </li>
                        <li class="bg-dark">
                            <label for="runner">Enter Batter</label>
                            <input type="text" class="filter" placeholder="Alfredo Amezaga" id="batter"/>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>  
</body>
</html>