<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAR</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Stealing Bases</div>
        <a href="http://127.0.0.1:5000/" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="http://127.0.0.1:5000/">Offensive</a></li>
                <li><a href="http://127.0.0.1:5000/result">Defensive</a></li>
                <li><a href="http://127.0.0.1:5000/">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
            </div>
        </div>

        <div class="col-md-12 subtitletron "> 
            <h2> Choose pitcher name and batter name in order to get baseball predictions.</h2>
            <br>   <br>  
        </div>
    </div>
</body>
</html>